:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  margin-top: -30px;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading + p {
    margin-top: -20px;
  }
}

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span {
  background-color: #333;
  height: 2px;
  margin-bottom: 5px;
}

.header .links .icon span:first-child,
.header .links .icon span:last-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 1;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  position: absolute;
  right: 5px;
  top: -20px;
  border: 10px solid;
  border-color: transparent transparent #f6f6f6 transparent;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.landing {
  background-image: url("https://picsum.photos/1920/1080?blur=1");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 64px);
  position: relative;
}


.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  max-width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
  font-size: 50px;
  margin: 0;
  font-weight: bold;
  color: var(--main-color);
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

.features {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  color: var(--main-color);
}

.features .feat h3 {
  margin: 30px 0;
  font-weight: 800;
}

.features .feat p {
  font-size: 17px;
  color: #777;
  line-height: 1.8;
}

.services {
  padding: var(--section-padding) 0;
}

.services .services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.services .srv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .srv {
    flex-direction: column;
    text-align: center;
  }
}

.services .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .srv .text h3 {
  margin-bottom: 20px;
}

.services .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}

.services .image {
  position: relative;
  text-align: center;
}

.services .image::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  z-index: -1;
}

.services .image img {
  width: 260px;
}

@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}

.portfolio {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}

.portfolio-content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.portfolio .card {
  background-color: #fff;
}

.portfolio .card img {
  max-width: 100%;
}

.portfolio .card .info {
  padding: 20px;
}

.portfolio .card .info p {
  color: #777;
  line-height: 1.6;
}

.about {
  padding: var(--section-padding) 0 calc(var(--section-padding) + 60px);
}

.about-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .image {
  position: relative;
  width: 250px;
  height: 375px;
}

@media (max-width: 991px) {
  .about .image {
    margin: 0 auto 60px;
  }
}

.about .image::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -20px;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  z-index: -1;
}

.about .image::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -150px;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
}

@media (max-width: 991px) {
  .about .image::before,
  .about .image::after {
    display: none;
  }
}

.about .image img {
  max-width: 100%;
}

.about .text {
  flex-basis: calc(100% - 500px);
}

.about .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about .text hr {
  width: 50%;
  border-color: var(--main-color);
}

.about .text p:last-of-type {
  line-height: 2;
  color: #777;
}

.contact {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}

.contact .info {
  text-align: center;
  padding: var(--section-padding) 0;
}

.contact .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.contact .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

.contact .social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.contact .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  .contact .label,
  .contact .link {
    font-size: 25px;
  }
}

.footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 30px 10px;
  font-size: 18px;
}

.footer span {
  color: var(--main-color);
  font-weight: bold;
}
